*.tar
*.csv
*.zip
dataset/
*.tar.gz
*.parquet

venv/
.venv/
env/
Pipfile.lock
poetry.lock

node_modules/
dist/
.env.local
.env.*.local
npm-debug.log*

__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/

*.log
.env
*.egg-info/
